https://www.youtube.com/watch?v=CbTU92pbDKw
https://colab.research.google.com/drive/1Bk4zPQwAfzoSHZokKUefKL1s6lqmam6S?usp=sharing#scrollTo=-0LJeyey_o6t

In [138]:
import pandas as pd
import numpy as np
import seaborn as sn

In [139]:
df = pd.read_csv('ticket data.csv',index_col=0)

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637 entries, 0 to 636
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    637 non-null    object
 1   Count   637 non-null    int64
dtypes: int64(1), object(1)
memory usage: 14.9+ KB

In [141]:
import datetime

def str_to_datetime(s):
    split_temp = s.split(' ')
    date = split_temp[0].split('/')
    time = []
    time.append(split_temp[1][0:2])
    time.append(split_temp[1][3:5])
    time.append(split_temp[1][6:8])
    year, month, day = int('20' + date[0]), int(date[1]), int(date[2])
    hour, minutes, seconds = int(time[0]), int(time[1]), int(time[2])
    return datetime.datetime(year=year, month=month, day=day, hour=hour,minute=minutes,second=seconds)

datetime_object = str_to_datetime('22/07/01 10:34:56')
datetime_object

datetime.datetime(2022, 7, 1, 10, 34, 56)

In [142]:
df['Date'] = df['Date'].apply(str_to_datetime)
df['Date']

0     2022-07-01 00:00:00
1     2022-07-01 01:00:00
2     2022-07-01 02:00:00
3     2022-07-01 03:00:00
4     2022-07-01 04:00:00
              ...
632   2022-07-27 22:00:00
633   2022-07-30 00:00:00
634   2022-07-30 03:00:00
635   2022-07-30 18:00:00
636   2022-07-30 21:00:00
Name: Date, Length: 637, dtype: datetime64[ns]

In [143]:
df.index = df.pop('Date')
df.head()

                     Count
Date
2022-07-01 00:00:00    362
2022-07-01 01:00:00    486
2022-07-01 02:00:00    363
2022-07-01 03:00:00    225
2022-07-01 04:00:00    116

In [144]:
window_df=df[["Count"]]
window_df.rename(columns = {'Count':'Target'}, inplace = True)
window_df["Target-1"] = 0
window_df["Target-2"] = 0
window_df["Target-3"] = 0
window_df

                     Target  Target-1  Target-2  Target-3
Date
2022-07-01 00:00:00     362         0         0         0
2022-07-01 01:00:00     486         0         0         0
2022-07-01 02:00:00     363         0         0         0
2022-07-01 03:00:00     225         0         0         0
2022-07-01 04:00:00     116         0         0         0
...                     ...       ...       ...       ...
2022-07-27 22:00:00       1         0         0         0
2022-07-30 00:00:00       1         0         0         0
2022-07-30 03:00:00       1         0         0         0
2022-07-30 18:00:00       1         0         0         0
2022-07-30 21:00:00       1         0         0         0

[637 rows x 4 columns]

In [145]:
window_df.iloc[0]['Target']

362

In [146]:
for row in range(0,len(window_df)):
    try:
        window_df.iloc[row,1] = window_df.iloc[row-1,0]
    except:
        print('Skip')
    try:
        window_df.iloc[row,2] = window_df.iloc[row-1,1]
    except:
        print('Skip')
    try:
        window_df.iloc[row,3] = window_df.iloc[row-1,2]
    except:
        print('Skip')

In [151]:
window_df.head()

                     Target  Target-1  Target-2  Target-3
Date
2022-07-01 00:00:00     362         1         0         0
2022-07-01 01:00:00     486       362         1         0
2022-07-01 02:00:00     363       486       362         1
2022-07-01 03:00:00     225       363       486       362
2022-07-01 04:00:00     116       225       363       486